<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.edu.xmut.learningplatform.mapper.commentMapper">

    <insert id="addComment" parameterType="comment">
        INSERT INTO comment (commentContent, commentDate,commentuserId,discussionId,parentId)
        VALUES (#{commentContent}, #{commentDate},#{commentUserId},#{discussionId},#{parentId});
    </insert>
    <update id="updateComment" parameterType="comment">
        update comment
        <set>
            <if test="commentContent != null">
                commentContent=#{commentContent},
            </if>
        </set>
         where id=#{id}
    </update>
    <delete id="deleteComment">
        delete from comment where id=#{id}
    </delete>
    <select id="selectCommentById" resultType="comment">
        SELECT * from comment where discussionId=#{id}
    </select>
    <select id="expandComment" resultType="comment">
        SELECT * from comment where parentId=#{parentId}
    </select>
    <select id="findById" resultType="comment">
        SELECT * FROM comment where id=#{parentId}
    </select>

</mapper>