<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.edu.xmut.learningplatform.mapper.courseMapper">

    <select id="getAllCourse" resultType="course">
        SELECT * FROM course
        WHERE coxx = 1 and  1 = 1
        <if test="id != null">
            AND id = #{id}
        </if>
        <if test="name != null and name != ''">
            AND name = #{name}
        </if>
        <if test="startTime != null">
            AND startTime <![CDATA[ >= ]]> #{startTime}
        </if>
        <if test="endTime != null">
            AND endTime <![CDATA[ <= ]]> #{endTime}
        </if>
    </select>

    <select id="getTeacherAllCourse" resultType="course">
        SELECT * FROM course
        WHERE 1 = 1
        <if test="id != null">
            AND id = #{id}
        </if>
        <if test="name != null and name != ''">
            AND name = #{name}
        </if>
        <if test="startTime != null">
            AND startTime <![CDATA[ >= ]]> #{startTime}
        </if>
        <if test="endTime != null">
            AND endTime <![CDATA[ <= ]]> #{endTime}
        </if>
        AND userId = #{userId}
    </select>


    <insert id="addCourse" useGeneratedKeys="true" keyProperty="id" parameterType="course">
        INSERT INTO `course` (
            `name`, `cover`, `startTime`, `endTime`, `description`, `userId`,`courseCode`,`className`,`groupId`
        ) VALUES (
                     #{name}, #{cover}, #{startTime}, #{endTime}, #{description}, #{userId},#{courseCode},#{className},#{groupId}
                 )
    </insert>


    <select id="getCourseByCourseId" resultType="course">
        SELECT * FROM course WHERE id = #{courseId}
    </select>


    <select id="getCourseByGroupId" resultType="course">
        SELECT * FROM course WHERE groupId = #{groupId}
    </select>

    <select id="selectByCourseIdOrUserId" resultType="userCourse">
        select * FROM user_course where userId=#{userId}
        <if test="courseId != null">
            and courseId = #{courseId}
        </if>

    </select>

    <select id="getChooseCourseCountByCourseId" resultType="int">
        select count(*) FROM user_course where courseId = #{courseId}
    </select>


    <select id="getUserListByCourseId" resultType="user">
        SELECT `user`.id,`user`.name,`user`.username,`user`.studentId FROM
                            user_course,`user`,course
        WHERE user_course.courseId = course.id
          AND user_course.userId = `user`.id AND user_course.courseId = #{courseId}
    </select>

    <insert id="studentAddCourse" >
        INSERT INTO `user_course` (
            `userId`, `courseId`
        ) VALUES (
                     #{userId}, #{courseId}
                )
    </insert>


    <select id="getUserCourse" resultType="userCourse">
        SELECT * FROM
            user_course
        WHERE userId = #{userId}
          AND courseId = #{courseId}
    </select>

    <select id="getCourseByCourseCode" resultType="course">
        SELECT * FROM course WHERE courseCode = #{courseCode}
    </select>

</mapper>