<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.edu.xmut.learningplatform.mapper.discussionMapper">
    <insert id="addDiscussion" parameterType="discussion">
    INSERT INTO discuss (id,authorId, courseId, title,content, classifyId) VALUES (#{id},#{authorId}, #{courseId}, #{title},#{content},#{classifyId});
    </insert>
    <update id="updateDiscussionById" parameterType="discussion">
        update discuss
        <set>
            <if test="title!= null">
                title=#{title},
            </if>
            <if test="content!= null">
                content=#{content},
            </if>
            <if test="classifyId!= null">
                classifyId=#{classifyId},
            </if>
        </set>
        where id=#{id}
    </update>
    <delete id="deleteDiscussionById" >
        Delete from discuss where Id=#{id}
    </delete>
    <select id="selectDiscussionById" resultType="discussion">
        SELECT * from discuss where classifyId=#{id}
    </select>
    <select id="getDiscussion" resultType="discussion">
        SELECT * from discuss
    </select>
    <select id="selectCommentById" resultType="comment">
        SELECT * from comment where discussionId=#{id}
    </select>

</mapper>