<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.edu.xmut.learningplatform.mapper.permissionMapper">
    <select id="getPermissionList" resultType="permission">
        SELECT id, name, url, createTime, updateTime,method
        FROM permission
        WHERE 1=1
        <if test="id != null">
            AND id LIKE CONCAT('%', #{id}, '%')
        </if>
        <if test="name != null">
            AND name LIKE CONCAT('%', #{name}, '%')
        </if>
        <if test="url != null">
            AND url LIKE CONCAT('%', #{url}, '%')
        </if>
        <if test="method != null">
            AND UPPER(method) LIKE CONCAT('%', #{method}, '%')
        </if>
    </select>

    <insert id="createPermission" useGeneratedKeys="true" keyProperty="id" parameterType="role">
        insert into `permission`(name, url,method, createTime)
        values (#{name}, #{url},#{method}, #{createTime})
    </insert>

    <select id="getPermission" resultType="permission">
        SELECT id, name, url,method,createTime, updateTime
        FROM permission
        where url = #{url}
          and method = #{method}
    </select>


    <select id="getPermissionByPermissionId" resultType="permission">
        SELECT id, name, url,method,createTime, updateTime
        FROM permission
        where id = #{permissionId}
    </select>

    <delete id="deletePermission">
        DELETE FROM `permission` WHERE id = #{permissionId}
    </delete>
</mapper>