<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.edu.xmut.learningplatform.mapper.roleMapper">
    <select id="getRoleList" resultType="role">
        SELECT id, name, sn, createTime, updateTime
        FROM role
        WHERE 1=1
        <if test="id != null">
            AND id LIKE CONCAT('%', #{id}, '%')
        </if>
        <if test="name != null">
            AND name LIKE CONCAT('%', #{name}, '%')
        </if>
        <if test="sn != null">
            AND lower(sn) LIKE CONCAT('%', #{sn}, '%')
        </if>
    </select>

    <select id="getRoleBySn" resultType="role">
        SELECT id, name, sn, createTime, updateTime
        FROM role where sn=#{sn}
    </select>

    <select id="getRoleByID" resultType="role">
        SELECT id, name, sn, createTime, updateTime
        FROM role where id=#{id}
    </select>

    <select id="getRoleAllowPermissionList" resultType="permission">
        SELECT
            permission.id,
            permission.method,
            permission.`name`,
            permission.url
        FROM
            role,
            role_permission,
            permission
        WHERE
            role.id = role_permission.role_id
          AND permission.id = role_permission.permission_id
          AND role.id = #{roleId}
    </select>

    <select id="getRoleNotAllowPermissionList" resultType="permission">
        SELECT
            permission.id,
            permission.method,
            permission.`name`,
            permission.url
        FROM
            permission
                LEFT JOIN (
                SELECT
                    permission.id
                FROM
                    role
                        INNER JOIN role_permission ON role.id = role_permission.role_id
                        INNER JOIN permission ON permission.id = role_permission.permission_id
                WHERE
                    role.id = #{roleId}
            ) AS rp ON permission.id = rp.id
        WHERE
            rp.id IS NULL;
    </select>



    <insert id="createRole" useGeneratedKeys="true" keyProperty="id" parameterType="role">
        insert into `role`(name, sn)
        values (#{name}, #{sn})
    </insert>

    <delete id="deleteRole">
        DELETE FROM `role` WHERE sn = #{sn}
    </delete>


    <select id="getRoleListByPermission" resultType="role">
        SELECT role.* FROM role,permission,role_permission
        WHERE role.id = role_permission.role_id AND permission.id = role_permission.permission_id
          AND role_permission.permission_id = #{permissionId}
    </select>


    <insert id="insertRolePermissions" parameterType="map">
        INSERT INTO role_permission (role_id, permission_id)
        VALUES
        <foreach item="permissionId" collection="permissionIds" separator=",">
            <if test="permissionId != null">
                (#{roleId}, #{permissionId})
            </if>
        </foreach>
    </insert>


    <delete id="deletePermissionsByRoleId" parameterType="int">
        DELETE FROM role_permission WHERE role_id = #{roleId}
    </delete>


</mapper>