<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.edu.xmut.learningplatform.mapper.userMapper">

    <select id="login" resultType="user">
        select *
        from user
        where `username` = #{username}
          and `password` = #{password};
    </select>

    <select id="getUserInfoByUserName" resultType="user">
        SELECT id,
               username,
               name,
               school,
               email,
               studentID,
               createTime,
               updateTime,
               school,
               status
        FROM `user`
        where `username` = #{username};
    </select>

    <select id="getUserInfoByUserNameOrStuID" resultType="user">
        SELECT id,
               username,
               name,
               school,
               email,
               studentId,
               createTime,
               updateTime,
               school,
               status
        FROM `user`
        where `username` = #{username}
           or `studentId` = #{studentId};
    </select>

    <insert id="register" useGeneratedKeys="true" keyProperty="id" parameterType="user">
        insert into `user`(username, password, studentId, name, createTime, email)
        values (#{username}, #{password}, #{studentId}, #{name}, #{createTime}, #{email})
    </insert>

    <select id="getUserRole" resultType="userRole">
        SELECT role.id as roleId, role.`name` as roleName, role.sn as roleSn
        FROM user_role,
             `user`,
             role
        WHERE user_role.role_id = role.id
          and user_role.user_id = `user`.id
          AND `user`.id = #{userId}
    </select>


    <select id="getAllUser" resultType="user">
        SELECT id, username, name, email, createTime, updateTime,school,status
        FROM user
        WHERE 1=1
        <if test="id != null">
            AND id LIKE CONCAT('%', #{id}, '%')
        </if>
        <if test="username != null">
            AND username LIKE CONCAT('%', #{username}, '%')
        </if>
        <if test="name != null">
            AND name LIKE CONCAT('%', #{name}, '%')
        </if>
        <if test="email != null">
            AND email LIKE CONCAT('%', #{email}, '%')
        </if>
    </select>


    <insert id="createUserRole">
        INSERT INTO user_role(user_id, role_id)
        VALUES (#{userId}, #{roleId})
    </insert>


    <update id="updateUser">
        update `user`
        <set>
            <if test="username != null">`username` = #{username},</if>
            <if test="password != null">`password` = #{password},</if>
            <if test="name != null">`name` = #{name},</if>
            <if test="school != null">`school` = #{school},</if>
            <if test="email != null">`email` = #{email},</if>
            <if test="studentId != null">`studentId` = #{studentId},</if>
            <if test="updateTime != null">`updateTime` = #{updateTime},</if>
            <if test="status != null">`status` = #{status},</if>
        </set>
        where `id` = #{id}
    </update>


    <select id="getUserListByRole" resultType="user">
        SELECT `user`.*
        FROM `user`,
             role,
             user_role
        WHERE `user`.id = user_role.user_id
          AND role.id = user_role.role_id
          AND role_id = #{roleId}
    </select>

</mapper>