<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.edu.xmut.learningplatform.mapper.userMapper">

    <select id="login" resultType="user">
        select * from user where `username` = #{username} and `password` = #{password};
    </select>

    <select id="getUserInfoByUserName" resultType="user">
        SELECT id,username , name ,email,studentID created_time,update_time FROM `user`  where `username` = #{username};
    </select>

    <select id="getUserInfoByUserNameAndStuID" resultType="user">
        SELECT id,username , name ,email,studentId created_time,update_time FROM `user`  where `username` = #{username} and `studentId` = #{studentId};
    </select>

    <insert id="register" useGeneratedKeys="true" keyProperty="id" parameterType="user">
        insert into `user`(username, password, studentId, name,created_time,email)
        values (#{username}, #{password}, #{studentId}, #{name},#{createdTime},#{email})
    </insert>
</mapper>