<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.edu.xmut.learningplatform.mapper.workMapper">
    <!--查询学生全部课程下作业-->
    <select id="getWorkByStudentId" resultType="works">
        SELECT `work`.*
        FROM user_course,`work`
        WHERE user_course.courseId=`work`.courseId AND userId = #{userId}
    </select>

    <!--查看指定课程所有作业-->
    <select id="getWorkByCourseId" resultType="works">
        SELECT * FROM `work`
        <where>
            <if test="courseId != ''and courseId != null">
                and courseId = #{courseId}
            </if>
            <if test="name != null and name != ''">
                and name  LIKE concat('%',#{name},'%')
            </if>
        </where>
    </select>

    <!--学生第一次点击作业-->
    <insert id="viewWork">
        INSERT INTO user_work(workId,userId)
        VALUE (#{workId},#{userId})
    </insert>

    <!--教师布置作业-->
    <insert id="addWork" useGeneratedKeys="true" keyProperty="id" parameterType="works">
        insert into work
        (name,detail,startTime,endTime,courseId,chapterId,filePath)
        values
        (#{name},#{detail},#{startTime},#{endTime},#{courseId},#{chapterId},#{filePath})
    </insert>

    <!--删除作业-->
    <delete id="delWork" parameterType="works">
        DELETE
        FROM work
        WHERE courseId=#{courseId} and
        chapterId=#{chapterId}
    </delete>

    <!--教师修改作业-->
    <update id="editWork" parameterType="works">
        UPDATE `work`
        SET `name`=#{name},
        detail=#{detail},
        startTime=#{startTime},
        endTime=#{endTime},
        courseId=#{courseId},
        chapterId=#{chapterId}
        WHERE id=#{id}
    </update>

    <!--查看作业详情-->
    <select id="getWorkDetails" resultType="works">
        SELECT * FROM `work`
        <where>
            <if test="workId !='' and workId != null">
               and id = #{workId}
            </if>
            <if test="courseId !='' and courseId != null ">
                and courseId=#{courseId}
            </if>
            <if test="chapterId !='' and chapterId != null">
                and chapterId=#{chapterId}
            </if>
        </where>
    </select>
    <!--获取学生提交的作业-->
    <select id="getSubmitWork" resultType="userWork">
        SELECT *
        FROM user_work
        <where>
            <if test="workId !='' and workId != null">
                AND workId = #{workId}
            </if>
            <if test="userId !='' and userId != null">
                AND userId = #{userId}
            </if>
            <if test="courseId !='' and courseId != null and chapterId !='' and chapterId != null">
                AND workId IN (
                SELECT id
                FROM `work`
                WHERE courseId=#{courseId} AND chapterId=#{chapterId}
                )
            </if>
        </where>
    </select>


    <!--作业状态-->
    <select id="getWorkStatus" resultType="userWork">
        SELECT workId,userId,upFilePath,`comment`
        FROM user_work
        WHERE workId=#{workId} AND userId=#{userId}
    </select>

    <!--作业评分-->
    <update id="correctWork">
        UPDATE user_work
        SET score = #{score},
        feedback =  #{feedback}
        WHERE workId = #{workId} AND userId = #{userId}
    </update>
    <!--提交作业-->
    <update id="doWork">
        UPDATE user_work
        SET upFilePath = #{upFilePath},
       comment =  #{comment}
        WHERE workId = #{workId} AND userId = #{userId}
    </update>


</mapper>